html, body {
    background: #000000;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    color: #FFFFFF;
}

a:hover, a:active, a:focus {
    color: #77C9DB;
}

.logo {
    width: 150px;
    position: fixed;
    bottom: -35px;
    left: 10px;
    transition: all 0.3s ease-out;
    z-index: 1;
}

.logo:hover {
    bottom: -15px;
}

.code-wrapper {
    background: #1b1e21;
}

.code-wrapper > code {
    color: #77C9DB;
}

.bg-black {
    background: #000000;
    z-index: 0;
}